@using Domain.Entity;
@model string


<div style="width:100%">
    @if (Model == Helper.StatusSubmitted)
    {
        <img src="~/Images/OrderPrepare/OrderPlaced.png" width="100%" />
    }
    @if (Model == Helper.StatusReady)
    {
        <img src="~/Images/OrderPrepare/ReadyForPickup.png" width="100%" />
    }
    @if (Model == Helper.StatusCompleted)
    {
        <img src="~/Images/OrderPrepare/completed.png" width="100%" />
    }
</div>
